<table border="1">
    <tr>
        <td>Nome</td>
        <td>E-mail</td>
        <td>Telfone</td>
        <td>Pedido</td>
        <td>Endereço</td>
        <td>Data</td>
    </tr>
    <tr>
        <td>{{ name }}</td>
        <td>{{ email  }}</td>
        <td>{{ telefone }}</td>
        <td>{{ pedido }}</td>
        <td>{{ endereco }}</td>
        <td>{{ data }}</td>
    </tr>
</table>
